* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* Content Colors */
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --color-inverse: #030203;

    /* Background Colors */
    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #C58DE7;
    --background-gray: #3D3D3D;

    /* Accent Colors */
    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0A;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    /* Gradient Colors */
    --gradient-border: linear-gradient(14.84deg, #77C0A 0%, #E9A9B3 12.18%, #D586E0 -7%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(#C7C9CC 0%, #3D3D3D 100%);
    --gradient-background: linear-gradient(96.93%, #D586E0 0%, #91A1FA 98.93%);

    /* Font Family */
    --font-family: 'Sora', sans-serif;
    --font-family-mono: 'Roboto Mono', monospace;
    --font-family-flex: 'Roboto Flex', sans-serif;

    /* Font Sizes - Display (Sora) */
    --font-display-large: 4.5rem; /* 72px */
    --font-display-medium: 2.5rem; /* 40px */
    --font-display-small: 2rem; /* 32px */

    /* Font Sizes - Overline (Roboto Mono) */
    --font-overline: 1rem; /* 16px */

    /* Font Sizes - Paragraph (Roboto Flex) */
    --font-paragraph-large: 1rem; /* 16px */
    --font-paragraph-medium: 0.875rem; /* 14px */
    --font-paragraph-small: 0.75rem; /* 12px */

    /* Font Sizes - Label (Roboto Flex) */
    --font-label-medium: 1.25rem; /* 20px */
    --font-label-small: 1rem; /* 16px */

    /* Font Weights */
    --font-weight-extrabold: 800;
    --font-weight-bold: 700;
    --font-weight-medium: 500;

    /* Line Heights */
    --line-height-display: 130%;
    --line-height-text: 150%;
}

body {
    font-family: var(--font-family-flex);
    background-color: var(--background-primary);
    color: var(--content-primary);
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: var(--font-family);
}
