header {
    padding: 2rem 1.5rem;

    .logo {
        max-width: 150px;
        height: auto;
    }
}

@media (min-width: 768px) {
    header {
        padding: 3rem 4rem;

        .logo {
            max-width: 180px;
        }
    }
}
